<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    {% block head %}
    {% endblock %}

</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></a>
                <div class="top-left-part"><a class="logo" href="/"><b><img src="{% static 'images/pixeladmin-logo.png' %}" alt="home" /></b><span class="hidden-xs"><img src="{% static 'images/pixeladmin-text.png' %}" alt="home" /></span></a></div>
                <ul class="nav navbar-top-links navbar-left m-l-20 hidden-xs">
                    <li>
                        <form role="search" class="app-search hidden-xs">
                            <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="profile-pic" href="/admin/"> <img src="{% static 'images/users/varun.jpg' %}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">System Admin Panel</b> </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li style="padding: 10px 0 0;">
                        <a href="/" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="/humans" class="waves-effect"><i class="fa fa-users fa-fw" aria-hidden="true"></i><span class="hide-menu">Humans</span></a>
                    </li>
                    <li>
                        <a href="/devices" class="waves-effect"><i class="fa fa-gears fa-fw" aria-hidden="true"></i><span class="hide-menu">Devices</span></a>
                    </li>
                    <li>
                        <a href="/rules" class="waves-effect"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i><span class="hide-menu">Rules</span></a>
                    </li>
                    <li>
                        <a href="/messages" class="waves-effect"><i class="fa fa-comments fa-fw" aria-hidden="true"></i><span class="hide-menu">MQTT - Messages</span></a>
                    </li>
                    <li>
                        <a href="/sensors" class="waves-effect"><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i><span class="hide-menu">Sensors</span></a>
                    </li>
                    <li>
                        <a href="/blank" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i><span class="hide-menu">Blank Page</span></a>
                    </li>
                </ul>
                <div class="center p-20">
                    <span class="hide-menu"></span>
                </div>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
    {% block content %}
    {% endblock %}
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    {% block js %}
    {% endblock %}

</body>

</html>
